.card {
    display: block;
    padding: 32px;
    background-color: $base-light-transparent;
    border-radius: $big-border-radius;

    &_color_dark {
        background-color: $base-dark-transparent;
    }

    &_color_notransparent_dark {
        background-color: $base-dark-like-transparent;
    }

    &_color_notransparent_light {
        background-color: $base-light-like-transparent;
    }

    &__header {
        margin-bottom: 12px;
    }

    &_indent_bottom {
        margin-bottom: 32px;
    }

    &_size_small {
        padding: 16px;
        border-radius: $small-border-radius;
    }

    @include breakpoint-max($ml) {
        padding: 24px;
    }

    @include breakpoint-max($sm) {
        padding: 20px 12px;
        border-radius: $small-border-radius;
    }
}


