.auction-item {

    &__main {
        margin-bottom: 36px;
    }

    &__price {
        min-width: 70px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: rem(22);
    }

    &__price-currency {
        font-size: rem(14);
        text-align: right;
    }

    &__author {
        min-width: 300px;
        max-width: 40%;
    }

    &__rules {
        margin-bottom: 12px;
    }

    &__bids {
        width: 100%;
        max-width: 60%;
    }

    &__bids-title {
        margin-bottom: 12px;
        font-size: rem(20);
    }

    &__bids-wrapper {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }

    &__bid {
    }

    &__bid-title {
        padding-left: 6px;
        font-size: rem(12);
        margin-bottom: 4px;
    }

    &__bid-form {
        display: flex;
        gap: 12px;
        margin-bottom: 24px;
    }

    &__bid-button {
        white-space: nowrap;
    }

    &__bids-history {
        margin-bottom: 36px;
    }

    &__accordion {
        padding: 0;
    }

    &__history-title {
        font-size: rem(20);
    }

    &__bid-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 8px;
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 1px dashed $opposite-main-20;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__bid-info {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__bid-username {
        margin-bottom: 0;
    }

    &__bid-value {
        font-size: rem(20);
    }

    &__bid-currency {
        font-size: rem(12);
    }

    @include breakpoint-max($xl) {
        &__price {
            flex-direction: column;
        }

        &__bids-wrapper {
            gap: 16px;
        }
    }

    @include breakpoint-max($ml) {
        &__price {
            flex-direction: row;
        }

        &__bids {
            max-width: 100%;
        }

        &__bids-wrapper {
            gap: 8px;
        }

        &__author {
            width: 100%;
            max-width: 100%;
        }
    }

    @include breakpoint-max($sm) {
        &__price {
            flex-direction: column;
        }

        &__bids-wrapper {
            gap: 16px;
        }

        &__author {
            min-width: auto;
        }

        &__bid-form {
            flex-wrap: wrap;

            & .button {
                width: 100%;
            }
        }

        &__bid-row {
            flex-wrap: wrap;
            gap: 4px;
        }

        &__bid-info {
            flex-wrap: wrap;
        }

        &__bid-date {
            width: 100%;
            text-align: right;
            font-size: rem(12);
        }


    }
}
