.horizontal-variation {
    position: relative;
    padding: 18px 16px;

    &:hover .horizontal-variation__more {
        opacity: 1;
        visibility: visible;
        transition: .3s;
    }

    &__main {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px 8px;
        font-size: rem(12);
        background-color: $additional-main;
        border-radius: 0 $extra-small-border-radius 0 $extra-small-border-radius;
    }

    &__inner {
        display: flex;
        gap: 12px;
        align-items: flex-start;
    }

    &__featured-inner {
        width: 100px;
    }

    &__title {
        margin-bottom: 12px;
    }

    &__more {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 6px 16px;
        font-size: rem(14);
        border-radius: $extra-small-border-radius 0 $extra-small-border-radius 0;
    }

    @include breakpoint-max($ml) {
        :root {
            --expanded-media-variations-height: 350px;
        }
    }
}
