.site-icon {
    display: block;

    &:hover .site-icon__stroke_animated {
        animation: logo-hover-colors 7s infinite linear;
        animation-direction: alternate;
    }
}

.site-icon__stroke {
    fill: none;
    stroke: $logo-stroke;
    stroke-width: 40;
    stroke-miterlimit: 10;
}

.site-icon__top_1 {
    fill: $logo-1;
}

.site-icon__top_2 {
    fill: $logo-2;
}

.site-icon__top_3 {
    fill: $logo-3;
}

.site-icon__top_4 {
    fill: $logo-4;
}

.site-icon__top_5 {
    fill: $logo-5;
}

.site-icon__top_6 {
    fill: $logo-6;
}

.site-icon__top_7 {
    fill: $logo-7;
}

.site-icon__bottom_1 {
    fill: $logo-8;
}

.site-icon__bottom_2 {
    fill: $logo-9;
}

.site-icon__bottom_3 {
    fill: $logo-10;
}

.site-icon__bottom_4 {
    fill: $logo-11;
}

.site-icon__bottom_5 {
    fill: $logo-12;
}

.site-icon__bottom_6 {
    fill: $logo-13;
}

.site-icon__bottom_7 {
    fill: $logo-14;
}

.site-icon__item_animated {
    transform: translateY(-110%);
    animation: logo-shelf .3s linear 1s;
    animation-fill-mode: forwards;
}

.site-icon__item-2_animated {
    animation-delay: 1.1s;
}

.site-icon__item-3_animated {
    animation-delay: 1.2s;
}

.site-icon__item-4_animated {
    animation-delay: 1.3s;
}

.site-icon__item-5_animated {
    animation-delay: 1.4s;
}
.site-icon__item-6_animated {
    animation-delay: 1.5s;
}

.site-icon__item-7_animated {
    animation: logo-shelf-last .5s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1.8s;
}

@keyframes logo-shelf {
    0% {
        transform: translateY(-110%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes logo-shelf-last {
    0% {
        transform: translateY(-110%);
    }

    20% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-50%);
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes logo-hover-colors {
    0% {
        stroke: $logo-stroke;
    }

    20% {
        stroke: $logo-stroke-1;
    }

    40% {
        stroke: $logo-stroke-2;
    }

    60% {
        stroke: $logo-stroke-3;
    }

    80% {
        stroke: $logo-stroke-4;
    }

    100% {
        stroke: $logo-stroke-5;
    }
}
