.ui__title_big {
    margin-bottom: 32px;
}

.ui__section {
    margin-bottom: 40px;
}

.ui__grid {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

.ui__item-wrapper {
    padding: 18px 0;
}

.ui__col {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid $opposite-main;
    background-color: $base-dark;
}

.ui__message {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

.ui__popover {
    position: relative;
}

.ui__popover-test {
    position: relative;
}

.ui__popover_visible {
    top: 130%;
    left: 0;
}

.ui__image_1 {
    width: 300px;
}

.ui__image_2 {
    width: 500px;
}

.ui__image_3 {
    width: 600px;
}

.ui__button_badge {
    position: relative;
}

.ui__badge_standard {
    position: absolute;
    top: -4px;
    right: -4px;
}

.ui__image_badge {
    position: relative;
    margin-bottom: 0;
}

.ui__ribbon_test_1 {
    top: 60px;
}

.ui__ribbon_test_2 {
    top: 100px;
}

.ui__badge_placeholder {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 2.2;
    background-color: $base-dark;
}

.ui__form-group_buttons {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    .button {
        margin-right: 5px;
        margin-bottom: 10px;
    }
}

.ui__table-buttons {
    .button {
        margin-right: 5px;
    }
}

.ui__swiper {
    margin-bottom: 20px;
}

.ui__test-swiper-slide {
    height: 400px;
}
