.ui__title_big {
    margin-bottom: 32px;
}

.ui__section {
    margin-bottom: 40px;
}

.ui__grid {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

.ui__item-wrapper {
    padding: 18px 0;
}

.ui__col {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid $opposite-main;
    background-color: $base-dark;
}

.ui__message {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

.ui__popover {
    position: relative;
}

.ui__popover-test {
    position: relative;
}

.ui__popover_visible {
    top: 130%;
    left: 0;
}

.ui__image_1 {
    width: 300px;
}

.ui__image_2 {
    width: 500px;
}

.ui__image_3 {
    width: 600px;
}
