.star-rating {
    margin: 0;
    padding: 0;
    border: 0;

    &_10 {
        .star-rating__group {
            justify-content: space-between;
        }

        .star-rating__label_none {
            width: 10%;
        }

        .star-rating__label {
            width: 9%;
            justify-content: center;
        }
    }

    &_disabled {
        pointer-events: none;
    }

    &__group {
        display: inline-flex;
        width: 100%;
    }

    &__title {
        margin-bottom: 8px;
        font-size: rem(16);
        color: $font-main-80;
    }

    &__icon {
        width: 24px;
        height: 24px;
        pointer-events: none;
    }

    &__input {
        position: absolute;
        left: -9999px;
    }

    &__label {
        display: flex;
        align-items: flex-start;
        padding: 0 2px;
        cursor: pointer;
    }

    &_responsive {
        .star-rating__group {
            gap: 4px;
        }
        
        .star-rating__icon_star {
            width: 100%;
            height: auto;
        }

        .star-rating__icon_none {
            width: 100%;
            height: auto;
        }
    }

    &__icon_star {
        fill: $rating-active;
    }

    &__icon_none {
        width: 26px;
        height: 26px;
        fill: $rating-no-active;
    }

    .star-rating__label_none {
        padding-left: 0;
    }

    &__input_none:checked + &__label &__icon_none {
        fill: $danger-main;
    }

    &__input:checked ~ &__label &__icon_star {
        fill: $rating-no-active;
    }

    &__group:hover &__label &__icon_star {
        fill: $rating-active;
    }

    &__input:hover ~ &__label &__icon_star {
        fill: $rating-no-active;
    }

    &__group:hover &__input_none:not(:hover) + &__label &__icon_none {
        fill: $rating-no-active;
    }

    &__input_none:hover + &__label &__icon_none {
        fill: $danger-main;
    }
}






