.badge {
    display: block;
    background-color: $danger-main;

    &:after {
        border-color: $danger-main;
    }

    &_color_dark {
        background-color: $base-dark-like-transparent;
    }

    &_color_success {
        background-color: $success-main;

        &:after {
            border-color: $success-main;
        }
    }

    &_color_info {
        background-color: $info-main;

        &:after {
            border-color: $info-main;
        }
    }

    &_color_warning {
        background-color: $warning-main;

        &:after {
            border-color: $warning-main;
        }
    }

    &_standard {
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }

    &_standard_size_small {
        width: 12px;
        height: 12px;
    }

    &_standard_size_big {
        width: 20px;
        height: 20px;
    }

    &_number {
        padding: 3px 5px;
        font-size: .75rem;
        border-radius: $extra-small-border-radius;
    }

    &_align_standard {
        position: absolute;
        top: -6px;
        right: -6px;
    }

    &_ribbon {
        position: absolute;
        padding: 5px 20px;
        font-size: .75rem;
        box-shadow: 0 2px 5px $shadow;

        &:after {
            @include pseudo();
            width: 0;
            height: 0;
            line-height: 0;
            opacity: .5;
        }
    }

    &_ribbon_align_left {
        top: 20px;
        left: -10px;
        border-radius: 0 $extra-small-border-radius $extra-small-border-radius 0;

        &:after {
            bottom: -5px;
            left: 0;
            border-left: 10px solid transparent;
            border-top-width: 5px;
            border-top-style: solid;
        }
    }

    &_ribbon_align_right {
        top: 20px;
        right: -10px;
        border-radius: $extra-small-border-radius 0 0 $extra-small-border-radius;

        &:after {
            bottom: -5px;
            right: 0;
            border-right: 10px solid transparent;
            border-top-width: 5px;
            border-top-style: solid;
        }
    }

    &_bookmark {
        position: absolute;
        left: 10px;
        top: -3px;
        min-width: 20px;
        padding: 10px 10px 15px 10px;
        text-align: center;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    }

    &_bookmark_align_right {
        left: auto;
        right: 10px;
    }

    &__star {
        fill: $opposite-main;
        width: 18px;
        height: 18px;
    }

    &_tag {
        padding: 4px 8px;
        border-radius: $small-border-radius;
        word-wrap: break-word;
    }
}
