.crud-form {
    display: grid;
    grid-template-columns: auto 246px;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas:
        "title sidebar"
        "form sidebar"
        "description sidebar"
        "submit sidebar";
    column-gap: 24px;

    &_full-width {
        display: block;
    }

    &__title {
        grid-area: title;
    }

    &__main {
        grid-area: form;
        min-width: 0;
    }

    &__description {
        grid-area: description;
    }

    &__submit {
        grid-area: submit;
    }

    &__sidebar {
        grid-area: sidebar;
    }

    &__sidebar-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__sidebar-widget {
        padding: 14px;
        background-color: $base-dark-like-transparent;
        border-radius: $border-radius;
    }

    &__block {
        margin-bottom: 24px;
    }

    @include breakpoint-max($md) {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "title"
        "form"
        "sidebar"
        "description"
        "submit";
        column-gap: 24px;

        &__sidebar-wrapper {
            padding: 16px 0;
            background: none;
        }

        &__input-image {
            display: flex;
            justify-content: center;
            width:100%;

            & .input-image {
                width: 250px;
            }

            & .input-image__preview {
                background-color: $base-dark-like-transparent;
            }

            & .input-image__placeholder-text {
                background-color: $base-dark-like-transparent;
            }

            .input-image__preview::before, .input-image__preview::after {
                background-color: $opposite-main-10;
            }
        }

        &__submit-button {
            width: 100%;
        }

        &__description {
            .ql-editor {
                min-height: 250px;
            }
        }
    }


    @include breakpoint-max($xs) {
        & .input-image {
            width: 100%;
        }
    }
}
