.choices-block {
    position: relative;
}

.choices-block_error {
    .choices__inner {
        border: 2px solid $danger-main;
    }
}

.choices-block__label {
    position: absolute;
    top: -17px;
    left: 0;
    font-size: rem(12);
    line-height: 1;
    color: $font-main-50;
}

.choices-block_size_small {
    .choices__inner {
        padding: 9px 28px 9px 20px;
        min-height: 44px;
    }

    & .choices[data-type*=select-one] .choices__inner {
        padding-bottom: 9px;
    }
}

.choices__inner {
    padding: 14px 28px 14px 20px;
    min-height: 50px;
    border: 2px solid transparent;
    font-size: rem(16);
    color: $font-main;
    background-color: $base-dark-like-transparent;
    border-radius: $extra-small-border-radius;

    .is-focused &,
    .is-open & {
        border-color: $opposite-main;
    }

    .is-open & {
        border-radius: $extra-small-border-radius $extra-small-border-radius 0 0;
    }

    .is-flipped.is-open & {
        border-radius: 0 0 $extra-small-border-radius $extra-small-border-radius;
    }

    .choices[data-type*=text] & {
        padding: 10px 20px;
    }

    .choices[data-type*=select-multiple] & {
        padding: 10px 20px;
        cursor: pointer;
    }


    & input:disabled::-webkit-input-placeholder {
        color: $opposite-main;
        opacity: .7;
    }


    .choices[data-type*=select-one].is-disabled & {
        background-color: $disabled-main;
        color: $opposite-main;

        & .choices__placeholder {
            opacity: .7;
        }
    }

    .choices[data-type*=select-multiple].is-disabled & {
        background-color: $disabled-main;
        color: $opposite-main;

        & .choices__placeholder {
            opacity: .7;
        }
    }
}


.choices-block_color_success {
    .choices__inner {
        background-color: $success-main;
    }

    .choices__placeholder {
        opacity: 1;
    }

    .choices__list--dropdown {
        .choices__placeholder {
            opacity: .3;
        }
    }
}

.choices[data-type*=select-multiple] {
    cursor: pointer;

    &::after {
        content: "";
        height: 0;
        width: 0;
        border-style: solid;
        border-color: $opposite-main transparent transparent transparent;
        border-width: 5px;
        position: absolute;
        right: 11.5px;
        top: 50%;
        margin-top: -2.5px;
        pointer-events: none;
    }

    &.is-open::after {
        border-color: transparent transparent $opposite-main transparent;
        margin-top: -7.5px;
    }
}


.choices__list--multiple {
    .choices__item {
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: rem(14);
        border-radius: $extra-small-border-radius;
        background-color: $additional-main;
        border-color: $additional-main;

        &.is-highlighted {
            background-color: $additional-light;
            border: 1px solid $additional-light;
        }

        .is-disabled & {
            background-color: $disabled-main;
            border: 1px solid $disabled-main;
        }
    }

}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
    border-left: 0;
    margin-left: 2px;
}

.choices[data-type*=select-one] {
    &::after {
        border-color: $opposite-main transparent transparent;
    }

    &.is-open::after {
        border-color: transparent transparent $opposite-main;
    }
}

.choices__list--single {
    padding: 0;

    .choices__item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    z-index: 1100;
    border: 2px solid $opposite-main;
    background-color: $base-dark-like-transparent;

    .is-open & {
        border-color: $opposite-main;
    }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: $additional-main;
}

.choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
    max-height: 180px;
}

.choices__input {
    width: 5px;
    margin-bottom: 0;
    padding: 0;
    font-size: rem(16);
    line-height: initial;
    color: $font-main;
    background: none;

    .choices[data-type*=select-one] & {
        border-bottom: 1px solid $opposite-main;
        color: $font-main;
        background-color: $base-dark;
    }

    .choices[data-type*=text] & {
        position: relative;
        //top: 3px
    }

    &::placeholder {
        position: relative;
        top: 2px;
        color: $font-main-50;
    }

    .choices.is-disabled & {
        background: none;
    }
}

@media (min-width:640px) {
    .choices__list--dropdown .choices__item--selectable,
    .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 10px
    }
}
