.ql-editor {
    min-height: 107px;
    font-size: rem(16);
}

.ql-toolbar.ql-snow {
    background-color: $opposite-main-50;
}

.ql-editor.ql-blank::before {
    font-style: normal;
    font-size: rem(16);
    color: $opposite-main-20;
}
