//Main Theme Variables
$backgroundColor: $base-light-like-transparent; //background color of tabulator
$borderColor: transparent; //border to tabulator
$textSize: 16px; //table text size

//header theming
$headerBackgroundColor: $base-dark; //border to tabulator
$headerTextColor: $font-main; //header text color
$headerBorderColor: $base-light-transparent;  //header border color
$headerSeparatorColor: $base-light-transparent; //header bottom separator color
$headerMargin: 4px; //padding round header

//column header arrows
$sortArrowHover: $additional-main;
$sortArrowActive: $additional-main;
$sortArrowInactive: $font-main-50;

//row theming
$rowBackgroundColor: $base-light-like-transparent; //table row background color
$rowAltBackgroundColor: $base-main-50; //table row background color
$rowBorderColor: $base-light-transparent;//table border color
$rowTextColor: $font-main; //table text color
$rowHoverBackground: $additional-main; //row background color on hover

$rowSelectedBackground: $additional-main; //row background color when selected
$rowSelectedBackgroundHover: $additional-light; //row background color when selected and hovered

$editBoxColor: #1D68CD !default; //border color for edit boxes
$errorColor: #dd0000 !default; //error indication

//footer theming
$footerBackgroundColor: $base-dark; //border to tabulator
$footerTextColor: $font-main; //footer text color
$footerBorderColor: transparent; //footer border color
$footerSeparatorColor: $base-light-transparent; //footer bottom separator color
$footerActiveColor: #d00 !default; //footer bottom active text color
