.tabulator {
    border-radius: $small-border-radius;

    & .tabulator-header .tabulator-col .tabulator-col-content {
        padding: 10px;
    }

    & .tabulator-footer .tabulator-footer-contents {
        padding: 10px;
    }
}

.tabulator-row .tabulator-cell {
    padding: 10px;
}
