.responsive-table {
    display: table;
    width: 100%;
    border-radius: $small-border-radius $small-border-radius 0 0;
    overflow: hidden;

    &__header {
        display: table-row;
        height: 40px;
        background-color: $base-dark;
    }

    &__footer {
        display: flex;
        gap: 14px;
        background-color: $base-dark;
        padding: 20px 20px;
        border-radius: 0 0 $small-border-radius $small-border-radius;
    }

    &__row {
        display: table-row;

        &:nth-child(2n+1) {
            background-color: $base-main-50;
        }

        &:hover {
            background-color: $additional-main;
        }
    }

    &__column {
        display: table-cell;
        padding: 5px 10px;
        vertical-align: middle;
        border-right: 1px solid $base-light-transparent;
        word-break: break-all;

        &:last-child {
            border-right: 0;
        }
    }

    &__column_id {
        width: 56px;
    }

    &__column_select {
        width: 40px;
    }

    &__column_action {
        width: 130px;
    }

    &__sortable {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__arrow {
        width: 0;
        height: 0;
        border-top: none;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid hsla(0, 0%, 100%, 0.5);

        &.responsive-table__arrow_active {
            border-top: none;
            border-bottom: 6px solid $additional-main;
        }

        &.responsive-table__arrow_desc.responsive-table__arrow_active {
            border-top: 6px solid $additional-main;
            border-bottom: none
        }
    }
}
