.responsive-table {
    position: relative;
    margin-top: -24px;
    padding-top: 36px;

    &__inner {
        overflow-x: auto;
    }

    &__content {
        display: table;
        width: 100%;
        border-radius: $small-border-radius $small-border-radius 0 0;
        overflow: hidden;
    }

    &__scroll-buttons {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        gap: 4px;
        margin-bottom: 8px;

        .responsive-table__wrapper_fixed & {
            display: flex;
            position: fixed;
            z-index: 100;
            top: 0;
            bottom: auto;
            opacity: .5;
            padding-top: 12px;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__scroll-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        padding: 0;
        border-radius: 50%;

        &:after {
            content: 'next';
            font-family: swiper-icons;
            font-size: rem(12);
            text-transform: none !important;
            letter-spacing: 0;
            font-variant: initial;
            line-height: 1;
        }
    }

    &__scroll-button_left {
        &:after {
            content: 'prev';
        }
    }

    &__header {
        display: table-row;
        height: 40px;
        background-color: $base-dark;
    }

    &__footer {
        display: flex;
        gap: 14px;
        background-color: $base-dark;
        padding: 20px 20px;
        border-radius: 0 0 $small-border-radius $small-border-radius;
    }

    &__row {
        display: table-row;

        &:nth-child(2n+1) {
            background-color: $base-main-50;
        }

        &:hover {
            background-color: $additional-main;
        }
    }

    &__column {
        display: table-cell;
        min-width: 150px;
        max-width: 300px;
        height: 42px;
        padding: 5px 10px;
        vertical-align: middle;
        border-right: 1px solid $base-light-transparent;
        //word-break: break-all;
        //overflow-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;

        &:last-child {
            border-right: 0;
        }
    }

    &__column_id {
        width: 56px;
        min-width: 56px;
    }

    &__column_select {
        width: 40px;
        min-width: 40px;

        .input-checkbox__label-wrapper {
            display: none;
        }
    }

    &__column_action {
        width: 130px;
        min-width: 130px;
    }

    &__sortable {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__arrow {
        width: 0;
        height: 0;
        border-top: none;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $opposite-main-50;;

        &.responsive-table__arrow_active {
            border-top: none;
            border-bottom: 6px solid $additional-main;
        }

        &.responsive-table__arrow_desc.responsive-table__arrow_active {
            border-top: 6px solid $additional-main;
            border-bottom: none
        }
    }

    &__label {
        display: none;
    }

    @include breakpoint-max($md) {
        margin-top: 0;
        padding-top: 0;

        &__content {
            display: block;
        }

        &__scroll-buttons {
            display: none;

            .responsive-table__wrapper_fixed & {
                display: none;
            }
        }

        &__header {
            display: flex;
            padding: 8px;
            background: none;

            .responsive-table__column {
                display: none;
            }

            .responsive-table__column_select {
                display: flex;
                order: 1;
                align-items: center;
                width: auto;

                .input-checkbox__label-wrapper {
                    display: block;
                }
            }
        }

        &__row {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 8px;
            padding: 8px;
            border: 1px solid $opposite-main-20;
            border-radius: $small-border-radius;

            &:nth-child(2n+1) {
                background: none;
            }

            &:hover {
                background: none;
            }
        }

        &__column {
            order: 3;
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
            padding: 4px 0;
            border-right: 0;
            word-break: unset;
            line-height: 1.4;
        }

        &__column_select {
            display: flex;
            order: 0;
            align-items: center;
            width: 30px;
            min-width: 30px;
        }

        &__column_id {
            display: flex;
            order: 1;
            align-items: center;
            width: 100px;
        }

        &__column_action {
            position: absolute;
            top: 4px;
            right: 8px;
            order: 2;
            width: 130px;
        }

        &__label {
            display: inline;
            margin-right: 5px;
            padding: 3px 8px;
            font-size: rem(14);
            background: $base-dark-transparent-40;
            border-radius: $small-border-radius;
        }

    }
}
