.missing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 1.2rem;

    & svg {
        stroke: $opposite-main;
        stroke-width: 3px;
        fill: none;
    }
}
