.profile-settings {
    &__main {
        display: flex;
        gap: 24px;
        padding: 16px 0;
        margin-bottom: 24px;
    }

    &__messages {
        margin-bottom: 24px;
    }

    &__avatar {
        flex-shrink: 0;
        flex-basis: 220px;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc(100% - 244px);
        column-gap: 24px;
        row-gap: 36px;
    }

    &__info-field {
        width: calc((100% - 24px*(2 - 1))/2);
    }

    &__description {
        flex-basis: 100%;
    }

    &__input-image {
        .input-image__preview {
            border-radius: $medium-border-radius;
        }
    }

    &__password {
        margin-bottom: 36px;
    }

    &__password-inner {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    &__password-field {
        flex-basis: 33%;
    }

    &__other {
        margin-bottom: 36px;
    }

    &__theme-switcher {
        .theme-switcher__color {
            width: 36px;
            height: 36px;
        }
    }


}
