.user-search {

    &__main {
        display: flex;

        a {
            text-decoration: none;
        }
    }

    &__thumbnail {
        margin-right: 12px;
        line-height: 0;
    }

    &__img {
        width: 100px;
        height: 100px;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__name {
        width: 100%;
        font-size: rem(18);
        font-weight: 700;
    }

    &__nickname {
        width: 100%;
        margin-top: 8px;
        font-size: rem(18);
    }

    &__main-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 8px;
    }

    &__subscribe {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 8px;
    }

    &__message-icon {
        fill: $opposite-main;
        width: 18px;
        height: 18px;
    }

    &__button-message {
        padding: 6px 12px;
    }

    &__buttons {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 16px;
    }
}
