.footer {
    position: relative;
    margin-top: auto;
    text-align: center;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__inner {
        position: relative;
        z-index: 1000;
        padding: 28px 0 28px 0;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__links {
        width: 50%;
    }

    &__links-wrapper {
        padding: 32px;
        background-color: $base-dark-like-transparent;
        border-radius: $big-border-radius;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__menu-link {
        display: block;
        width: 33%;
        padding: 4px 8px;
        text-align: left;

        //&:nth-child(3n)  {
        //    text-align: right;
        //}
    }

    &__media {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 23%;
        gap: 24px;
    }

    &__logo {
        justify-content: center;
    }

    &__site-icon {
        height: 44px;
        margin-right: 12px;
    }

    &__site-name {
        height: 44px;
    }

    &__social {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;

        svg {
            width: 24px;
            height: 24px;
            fill: $opposite-main;
        }
    }

    &__social-title {
        font-size: rem(18);
    }

    &__donate {
        width: 23%;
    }

    &__donate-title {
        margin-bottom: 20px;
        font-size: rem(16);
    }

    &__donate-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 12px;
    }

    &__donate-field {
        display: flex;
        gap: 8px;
        align-items: center;
        width: 100%;
    }

    &__donate-submit {
        flex-shrink: 0;
        width: 100%;

        .button {
            height: 50px;
        }
    }

    &__politics {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 12px;
    }

    &__waves-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 450px;
        width: 100%;
        z-index: 100;
    }

    &__waves {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 400px;
        min-height: 200px;
        max-height: 450px;
        bottom: 0;
        left: 0;
    }

    &__parallax>use {
        animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
    }

    &__parallax>use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 22s;
        fill: $base-main-50;
    }

    &__parallax>use:nth-child(2) {
        animation-delay: -4s;
        animation-duration: 10s;
        fill: $base-main-20;
    }

    &__parallax>use:nth-child(3) {
        animation-delay: -10s;
        animation-duration: 40s;
        fill: $base-dark;
    }

    @include breakpoint-max($xl) {
        &__menu-link {
            width: 32%;

            &:nth-child(3n)  {
                width: 36%;
            }
        }
    }

    @include breakpoint-max($ml) {
        &__main {
            flex-wrap: wrap;
        }

        &__links {
            order: 0;
            width: 63%;
        }

        &__media {
            order: 2;
            width: 100%;
            margin-top: 24px;
        }

        &__donate {
            order: 1;
            width: 33%;
        }
    }

    @include breakpoint-max($lg) {
        padding-bottom: 32px;

        &__main {
            gap: 32px;
        }

        &__links {
            order: 1;
            width: 100%;
        }

        &__donate {
            order: 0;
            display: flex;
            justify-content: center;
            width: 100%;
        }

        &__donate-form {
            max-width: 400px;
        }

        &__media {
            margin-top: 0;
        }

        .footer__waves {
            height: 250px;
            min-height: 150px;
            max-height: 300px;
        }
    }

    @include breakpoint-max($md) {
        &__links-wrapper {
           padding: 20px;
        }

        &__menu-link {
            padding: 4px 0;
        }

        &__menu-link {
            width: 50%;

            &:nth-child(3n)  {
                width: 50%;
            }
        }

        &__politics {
            margin-bottom: 24px;
        }

        .footer__waves {
            height: 200px;
            min-height: 100px;
            max-height: 250px;
        }
    }

    @include breakpoint-max($sm) {
        .footer__waves {
            height: 150px;
            min-height: 50px;
            max-height: 200px;
        }
    }

    @include breakpoint-max($xs) {
        &__menu-link {
            width: 100%;

            &:nth-child(3n)  {
                width: 100%;
            }
        }

        &__menu-link {
            padding: 6px 0;
        }

    }
}


@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}



