.action-table {
    overflow-x: auto;

    &__buttons {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }

    &__action {
        display: flex;
        gap: 12px;
    }

    & .choices-block {
        width: 200px;
    }

    &__select-all + .input-checkbox__label:before {
        background-color: $base-light-transparent;
    }

    &__footer {
        display: flex;
        gap: 14px;
        background-color: $base-dark;
        padding: 20px 20px;
        border-radius: 0 0 $small-border-radius $small-border-radius;
    }

    @include breakpoint-max($md) {
        &__select-all + .input-checkbox__label:before {
            background-color: $base-dark-transparent;
        }
    }
}
