.input-checkbox {
    line-height: 1;
}

.input-checkbox__field {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + .input-checkbox__label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        color: $font-main-50;

        &:before {
            content: '';
            display: flex;
            flex-shrink: 0;
            flex-grow: 0;
            width: 25px;
            height: 25px;
            margin-right: 0.5em;
            border: 0;
            background-color: $base-dark-transparent;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            border-radius: $extra-small-border-radius;
            transition: $base-transition;
        }
    }

    &_error + .input-checkbox__label {
        color: $danger-main;

        &:before {
            border: 2px solid $danger-main;
        }
    }

    &_error {
        &:checked + .input-checkbox__label {
            color: $font-main;

            &::before {
                border: 0;
            }
        }
    }

    &:checked + .input-checkbox__label {
        color: $font-main;

        &::before {
            background-color: $additional-main;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }
    }


    &:not(:disabled):not(:checked) + .input-checkbox__label:hover::before {

    }

    &:not(:disabled):active + .input-checkbox__label::before {
        background-color: $additional-main;
    }

    &:focus + .input-checkbox__label::before {
        box-shadow: 0 0 0 2px $font-main;
    }

    &:focus:not(:checked) + .input-checkbox__label::before {

    }

    &:disabled + .input-checkbox__label::before {
        background-color: $disabled-main;
    }


}



