.header {
    &::before {
        content: "";
        position: absolute;
        display: block;
        transform: translateY(-150px);
        width: 100%;
        height: 600px;
        background-color: $base-dark;
        border-radius: 0 0 85% 30%;
        animation: buble 10s infinite linear;
        animation-direction: alternate;
        animation-delay: 2s;
    }

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: 32px 0;
    }

    &__site-icon {
        height: 44px;
        margin-right: 12px;
    }

    &__site-name {
        height: 44px;
    }

    @include breakpoint-max($ml) {
        &__site-icon {
            height: 36px;
            margin-right: 10px;
        }

        &__site-name {
            height: 36px;
        }

        &__logo {
            order: 0;
        }
    }

    @include breakpoint-max($sm) {
        &__site-icon {
            height: 30px;
            margin-right: 2px;
        }

        &__site-name {
            height: 30px;
        }

        &__logo {
            order: 0;
        }
    }
}

@keyframes buble {
    0% {
        transform: translateY(-150px);
        border-radius: 0 0 85% 30%;
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(-100px);
        border-radius: 0 0 15% 90%;
    }
}
