.message {
    padding: 16px;
    overflow: hidden;
    font-size: rem(16);
    color: $font-main;
    line-height: 1.4;
    border-radius: $small-border-radius;

    p:last-child {
        margin-bottom: 0;
    }
}

.message_info {
    background-color: $info-main;
}

.message__info-icon {
    width: 40px;
    height: 40px;
    fill: $opposite-main;
}

.message_danger {
    background-color: $danger-main;
}

.message__danger-icon {
    width: 40px;
    height: 40px;
    fill: $opposite-main;
}

.message_success {
    background-color: $success-main;
}

.message__success-icon {
    width: 40px;
    height: 40px;
    fill: $opposite-main;
}

.message_warning {
    background-color: $warning-main;
}

.message__warning-icon {
    width: 40px;
    height: 40px;
    fill: $opposite-main;
}

.message_icon {
    position: relative;
    padding-left: 70px;
}

.message__icon {
    position: absolute;
    left: 14px;
    top: calc(50% - 20px);
}

.message_disabled {
    background-color: $disabled-main;
    color: $font-main-50;
}

.message_closed {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
}

.message__close {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
}

.message__close-icon {
    width: 24px;
    height: 24px;
    fill: $opposite-main;
}

@include breakpoint-max($sm) {
    .message {
        padding-left: 16px;
    }

    .message__icon {
        position: relative;
        top: auto;
        left: auto;
        float: left;
        margin-right: 12px;
        margin-top: 8px;
    }

    .message__info-icon {
        width: 25px;
        height: 25px;
    }

    .message__danger-icon {
        width: 25px;
        height: 25px;
    }

    .message__success-icon {
        width: 25px;
        height: 25px;
    }

    .message__warning-icon {
        width: 25px;
        height: 25px;
    }
}
