.crud-show {
    display: grid;
    grid-template-columns: auto 246px;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "content sidebar"
        "buttons sidebar";
    gap: 24px;

    &__title {
        margin-bottom: 24px;
    }

    &__content {
        grid-area: content;
    }

    &__description {
        grid-area: description;
        padding: 14px;
        font-size: rem(18);
        background-color: $base-dark-like-transparent;
        border-radius: $border-radius;

        p {
            font-size: rem(18);

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-title {
            margin-bottom: 16px;
        }
    }


    &__action-buttons {
        grid-area: buttons;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 16px;
    }


    &__sidebar {
        grid-area: sidebar;
    }

    &__thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 14px;
        line-height: 0;
        background-color: $base-dark-like-transparent;
        border-radius: $border-radius;
        aspect-ratio: 1 / 1;
        overflow: hidden;

            picture {
                display: block;
                width: 100%;
            }

            img {
                max-width: 100%;
                height: auto;
            }
    }

    .specifications {
        font-size: rem(18);
    }

    .tag {
        font-size: rem(16);
    }

    @include breakpoint-max($md) {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "content"
        "sidebar"
        "buttons";
        gap: 24px;

        &__sidebar {
            display: flex;
            justify-content: center;
        }

        &__thumbnail {
            width: 250px;
        }
    }

    @include breakpoint-max($sm) {
        &__action-button {
            width: 100%;
        }
    }

    @include breakpoint-max($sl) {
        &__action-button {
            width: 100%;
        }

        .specifications__item {
            flex-wrap: wrap;
        }

        .specifications__item-title {
            width: 100%;
            margin-bottom: 8px;
        }
    }
}
