.vertical-variation {
    align-self: start;
    position: relative;
    border: 2px solid $base-main;
    overflow: hidden;
    background: $base-light-like-transparent;
    border-radius: $border-radius;
    transition: $base-transition;

    &:hover &__info {
        transform: translate(0, -50px);
    }

    &:hover &__more {
        opacity: 1;
        visibility: visible;
    }

    &__footer {

        padding: 12px;
    }

    &__main {
        background: $base-light-like-transparent;
        transition: $base-transition;
    }

    &__title {
        margin-bottom: 8px;
        font-size: rem(18);
        font-weight: 700;

        a {
            text-decoration: none;
        }
    }

    &__details {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-size: rem(14);
    }

    &__detail {
        align-self: start;
        max-width: 100%;
        padding: 4px 8px;
    }

    &__more {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        min-height: 50px;
        margin-bottom: -55px;
        overflow: hidden;
        font-size: rem(14);
        transition: $base-transition;
        opacity: 0;
        visibility: hidden;
    }

    &__thumbnail {
        width: 100%;
        line-height: 0;
    }

    &__thumbnail-inner {
        .responsive-image {
            border-radius: 0 0 $small-border-radius $small-border-radius;
        }
    }

    &__info {
        position: relative;
        padding: 12px;
        background: $base-light-like-transparent;
        transition: $base-transition;
    }

    &__img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    &__buttons {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0 12px 12px 12px;
    }
}
