:root {
    --expanded-media-description-height: 100px;
    --expanded-media-variations-height: 310px;
}

.media-card {
    margin-bottom: 24px;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: 296px auto;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "featured content"
        "buttons content";
        column-gap: 24px;
        justify-content: flex-start;
        gap: 24px;
    }

    &__featured {
        grid-area: featured;
        flex-shrink: 0;
    }

    &__featured-inner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 296px;
        border-radius: 8px;
        background-color: var(--base-dark);
        color: var(--font-main-50);
        aspect-ratio: 1 / 1;
        overflow: hidden;
        line-height: 0;
    }

    &__buttons {
        grid-area: buttons;
    }

    &__button {
        margin-bottom: 12px;
    }

    &__content {
        grid-area: content;
        flex-basis: 100%;
        min-width: 0;
    }

    &__content-inner {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__specifications {
        min-width: 0;
    }

    &__variations {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
        flex-basis: 100%;
    }

    &__variation {
        width: calc(50% - 12px);
    }

    &__no-image-icon {
        stroke: $opposite-main;
        width: 40px;
        height: 40px;

        &_big {
            width: 60px;
            height: 60px;
        }
    }

    @include breakpoint-max($ml) {
        &__variation {
            flex-basis: 100%;
        }
    }

    @include breakpoint-max($md) {
        &__body {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto;
            grid-template-areas:
                "featured"
                "content"
                "buttons";
            column-gap: 24px;
            justify-content: flex-start;
            gap: 24px;
        }

        &__featured {
            display: flex;
            justify-content: center;
        }

        &__featured-inner {
            width: 500px;
        }
    }

    @include breakpoint-max($sm) {
        &__featured-inner {
            width: 100%;

            picture {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                object-fit: contain;
            }
        }
    }

    //@include breakpoint-max($xs) {
    //    &__featured-inner {
    //        width: 100%;
    //
    //        picture {
    //            display: flex;
    //            justify-content: center;
    //            align-items: center;
    //            width: 100%;
    //            height: 100%;
    //        }
    //
    //        img {
    //            max-width: 100%;
    //        }
    //    }
    //}

}

@include breakpoint-max($ml) {
    :root {
        --expanded-media-variations-height: 450px;
    }
}

@include breakpoint-max($md) {
    :root {
        --expanded-media-description-height: 200px;
    }
}


