::selection {
    background-color: $additional-light;
}
//
//$base: 300;
//$base-main: hsl($base+3, 25%, 31%);
//
//.test {
//    --main-color: 129;
//    position: relative;
//    z-index: 1000;
//    background: hsl(var(--main-color), 25%, 31%);;
//}

html {
    font-size: 16px;
}

body {
    font-family: 'GolosUIWebVF', sans-serif;
    background-color: $base-main;
    color: $font-main;
}

a {
    color: $font-main;
}

p {
    margin-top: 0;
}

input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}

@include breakpoint-max($sm) {

}


[x-cloak] { display: none !important; }
