$base: 238;
$additional: 129;
$alternative: 0;
$success: 129;
$danger: 0;
$warning: 0;
$info: 0;

$base-main: hsla($base+3, 25%, 31%, 1);
$base-main-dark: hsla($base, 30%, 23%, 1);
$base-main-dark: hsla($base, 27%, 27%, 1);
//hsl(238.38deg 38.14% 19.02%);
//$base-main: hsla(242, 25%, 30%, 1);
//$base-main: hsla(242, 27%, 27%, 1);
//$base-main-light: hsla(238, 27%, 27%, 1);
$base-light-transparent: hsla($base, 15%, 41%, .8);
$base-extra-light-transparent: hsla($base, 10%, 65%, .8);
$additional-main: hsla($additional, 87%, 32%, 1);
$font-color: hsla($alternative, 0%, 100%, 1);
$base-success: hsla($additional, 87%, 32%, 1);
$base-success-light: hsla($additional, 87%, 40%, 1);
