::selection {
    background-color: $additional-light;
}

html {
    font-size: 16px;
}

body {
    font-family: 'GolosUIWebVF', sans-serif;
    background-color: $base-main;
    color: $font-main;
}

a {
    color: $font-main;
}
