body {
    font-family: 'GolosUIWebRegular', sans-serif;
    background-color: #333458;
    color: #fff;

    a   {
        color: #fff;
    }
}

.container {
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 15px;
}
