@use 'sass:math';

$xl-gutter: (
    (math.div($grid-xl-gutter, $grid-xl-breakpoint)) * 100%
);
$lg-gutter: (
    (math.div($grid-lg-gutter, $grid-lg-breakpoint)) * 100%
);
$md-gutter: (
    (math.div($grid-md-gutter, $grid-md-breakpoint)) * 100%
);
$sm-gutter: (
    (math.div($grid-sm-gutter, $grid-sm-breakpoint)) * 100%
);

@function col-width($i, $columns) {
    @return math.div(100%, $columns)  * $i;
}

@mixin col-props($i, $columns, $gutter) {
    box-sizing: border-box;
    width: col-width($i, $columns);
    padding-left: math.div($gutter, 2);
    padding-right: math.div($gutter, 2);
}

@mixin columns-loop($name, $columns, $gutter) {
    @for $i from 0 through $columns {
        &-#{$name}-#{$i} {
            @include col-props($i, $columns, $gutter);
        }
        &-#{$name}-shift-#{$i} {
            margin-left: col-width($i, $columns);
        }
    }
}

@mixin grid-base($width, $grid-xl-gutter) {
    box-sizing: border-box;
    display: flex;
    margin-left: -(math.div($grid-xl-gutter, 2));
    margin-right: -(math.div($grid-xl-gutter, 2));
    flex-wrap: wrap;
    max-width: $grid-xl-breakpoint;
    width: auto;
}

.grid {
    @include grid-base(100%, $grid-xl-gutter);
    @media screen and (max-width: $grid-lg-breakpoint) {
        margin-left: -(math.div($grid-lg-gutter, 2));
        margin-right: -(math.div($grid-lg-gutter, 2));
        width: auto;
    }
    @media screen and (max-width: $grid-md-breakpoint) {
        margin-left: -(math.div($grid-md-gutter, 2));
        margin-right: -(math.div($grid-md-gutter, 2));
        width: auto;
    }
    @media screen and (max-width: $grid-sm-breakpoint) {
        margin-left: -(math.div($grid-sm-gutter, 2));
        margin-right: -(math.div($grid-sm-gutter, 2));
        width: auto;
    }
    &-0 {
        @include grid-base(100%, $grid-xl-gutter);
    }
}

.col {
    @include columns-loop(xl, $grid-xl-columns, $xl-gutter);
    @media screen and (max-width: $grid-lg-breakpoint) {
        @include columns-loop(lg, $grid-lg-columns, $lg-gutter);
    }
    @media screen and (max-width: $grid-md-breakpoint) {
        @include columns-loop(md, $grid-md-columns, $md-gutter);
    }
    @media screen and (max-width: $grid-sm-breakpoint) {
        @include columns-loop(sm, $grid-sm-columns, $sm-gutter);
    }
}
