@use 'sass:math';

@function col-width($i, $columns) {
    @return math.div(100%, $columns)  * $i;
}

@mixin col-props($i, $columns, $gutter) {
    width: col-width($i, $columns);
    padding-left: math.div($gutter, 2);
    padding-right: math.div($gutter, 2);
}

@mixin col-props-reserve($gutter) {
    padding-left: math.div($gutter, 2);
    padding-right: math.div($gutter, 2);
}

@mixin columns-loop($name, $columns, $gutter) {
    @for $i from 0 through $columns {
        &-#{$name}-#{$i} {
            @include col-props($i, $columns, $gutter);
        }
        &-#{$name}-shift-#{$i} {
            margin-left: col-width($i, $columns);
        }
    }
}

@mixin columns-loop-reserve ($name, $columns, $gutter) {
    @for $i from 0 through $columns {
        &-#{$name}-#{$i} {
            @include col-props-reserve($gutter);
        }
    }
}

@mixin grid-base($width, $grid-xl-gutter) {
    box-sizing: border-box;
    display: flex;
    margin-left: -(math.div($grid-xl-gutter, 2));
    margin-right: -(math.div($grid-xl-gutter, 2));
    flex-wrap: wrap;
    max-width: $grid-xl-breakpoint;
    width: auto;
}

.grid {
    margin: 0 auto;
    padding: 0 (math.div($grid-xl-gutter, 2));

    @media screen and (max-width: $grid-ls-breakpoint) {
        padding: 0 (math.div($grid-ls-gutter, 2));
    }
    @media screen and (max-width: $grid-lg-breakpoint) {
        padding: 0 (math.div($grid-lg-gutter, 2));
    }
    @media screen and (max-width: $grid-md-breakpoint) {
        padding: 0 (math.div($grid-md-gutter, 2));
    }
    @media screen and (max-width: $grid-sm-breakpoint) {
        padding: 0 (math.div($grid-sm-gutter, 2));
    }
}

.grid_container {
    margin-left: -(math.div($grid-xl-gutter, 2));
    margin-right: -(math.div($grid-xl-gutter, 2));
    padding: 0 (math.div($grid-xl-gutter, 2));

    @media screen and (max-width: $grid-ls-breakpoint) {
        margin-left: -(math.div($grid-ls-gutter, 2));
        margin-right: -(math.div($grid-ls-gutter, 2));
        padding: 0 (math.div($grid-ls-gutter, 2));
    }

    @media screen and (max-width: $grid-lg-breakpoint) {
        margin-left: -(math.div($grid-lg-gutter, 2));
        margin-right: -(math.div($grid-lg-gutter, 2));
        padding: 0 (math.div($grid-lg-gutter, 2));
    }
    @media screen and (max-width: $grid-md-breakpoint) {
        margin-left: -(math.div($grid-md-gutter, 2));
        margin-right: -(math.div($grid-md-gutter, 2));
        padding: 0 (math.div($grid-md-gutter, 2));
    }
    @media screen and (max-width: $grid-sm-breakpoint) {
        margin-left: -(math.div($grid-sm-gutter, 2));
        margin-right: -(math.div($grid-sm-gutter, 2));
        padding: 0 (math.div($grid-sm-gutter, 2));
    }
}

.row {
    @include grid-base(100%, $grid-xl-gutter);

    @media screen and (max-width: $grid-ls-breakpoint) {
        margin-left: -(math.div($grid-ls-gutter, 2));
        margin-right: -(math.div($grid-ls-gutter, 2));
        width: auto;
    }
    @media screen and (max-width: $grid-lg-breakpoint) {
        margin-left: -(math.div($grid-lg-gutter, 2));
        margin-right: -(math.div($grid-lg-gutter, 2));
        width: auto;
    }
    @media screen and (max-width: $grid-md-breakpoint) {
        margin-left: -(math.div($grid-md-gutter, 2));
        margin-right: -(math.div($grid-md-gutter, 2));
        width: auto;
    }
    @media screen and (max-width: $grid-sm-breakpoint) {
        margin-left: -(math.div($grid-sm-gutter, 2));
        margin-right: -(math.div($grid-sm-gutter, 2));
        width: auto;
    }
    &-0 {
        @include grid-base(100%, $grid-xl-gutter);
    }
}

.col {
    @include columns-loop(xl, $grid-xl-columns, $grid-xl-gutter);

    @media screen and (max-width: $grid-ls-breakpoint) {
        @include columns-loop-reserve(xl, $grid-xl-columns, $grid-ls-gutter);
        @include columns-loop(ls, $grid-ls-columns, $grid-ls-gutter);
    }

    @media screen and (max-width: $grid-lg-breakpoint) {
        @include columns-loop-reserve(xl, $grid-xl-columns, $grid-lg-gutter);
        @include columns-loop-reserve(ls, $grid-ls-columns, $grid-lg-gutter);
        @include columns-loop(lg, $grid-lg-columns, $grid-lg-gutter);
    }
    @media screen and (max-width: $grid-md-breakpoint) {
        @include columns-loop-reserve(xl, $grid-xl-columns, $grid-md-gutter);
        @include columns-loop-reserve(ls, $grid-ls-columns, $grid-md-gutter);
        @include columns-loop-reserve(lg, $grid-lg-columns, $grid-md-gutter);
        @include columns-loop(md, $grid-md-columns, $grid-md-gutter);
    }
    @media screen and (max-width: $grid-sm-breakpoint) {
        @include columns-loop-reserve(xl, $grid-xl-columns, $grid-sm-gutter);
        @include columns-loop-reserve(ls, $grid-ls-columns, $grid-sm-gutter);
        @include columns-loop-reserve(lg, $grid-lg-columns, $grid-sm-gutter);
        @include columns-loop-reserve(md, $grid-md-columns, $grid-sm-gutter);
        @include columns-loop(sm, $grid-sm-columns, $grid-sm-gutter);
    }
}

.col-ng {
    @include columns-loop(xl, $grid-xl-columns, 0);

    @media screen and (max-width: $grid-ls-breakpoint) {
        @include columns-loop(ls, $grid-ls-columns, 0);
    }
    @media screen and (max-width: $grid-lg-breakpoint) {
        @include columns-loop(lg, $grid-lg-columns, 0);
    }
    @media screen and (max-width: $grid-md-breakpoint) {
        @include columns-loop(md, $grid-md-columns, 0);
    }
    @media screen and (max-width: $grid-sm-breakpoint) {
        @include columns-loop(sm, $grid-sm-columns, 0);
    }
}

//.grid_c {
//    margin-left: -(math.div($xl-gutter, 2));
//    margin-right: -(math.div($xl-gutter, 2));
//    padding: 0 (math.div($grid-xl-gutter, 2));
//
//    @media screen and (max-width: $grid-lg-breakpoint) {
//        margin-left: -(math.div($lg-gutter, 2));
//        margin-right: -(math.div($lg-gutter, 2));
//        padding: 0 (math.div($grid-lg-gutter, 2));
//    }
//    @media screen and (max-width: $grid-md-breakpoint) {
//        margin-left: -(math.div($md-gutter, 2));
//        margin-right: -(math.div($md-gutter, 2));
//        padding: 0 (math.div($grid-md-gutter, 2));
//    }
//    @media screen and (max-width: $grid-sm-breakpoint) {
//        margin-left: -(math.div($sm-gutter, 2));
//        margin-right: -(math.div($sm-gutter, 2));
//        padding: 0 (math.div($grid-sm-gutter, 2));
//    }
//}

//
//$xl-gutter: (
//    (math.div($grid-xl-gutter, $grid-xl-breakpoint)) * 100%
//);
//$ls-gutter: (
//    (math.div($grid-ls-gutter, $grid-ls-breakpoint)) * 100%
//);
//$lg-gutter: (
//    (math.div($grid-lg-gutter, $grid-lg-breakpoint)) * 100%
//);
//$md-gutter: (
//    (math.div($grid-md-gutter, $grid-md-breakpoint)) * 100%
//);
//$sm-gutter: (
//    (math.div($grid-sm-gutter, $grid-sm-breakpoint)) * 100%
//);

//.col {
//    @include columns-loop(xl, $grid-xl-columns, $xl-gutter);
//    @media screen and (max-width: $grid-lg-breakpoint) {
//        @include columns-loop-reserve(xl, $grid-xl-columns, $lg-gutter);
//        @include columns-loop(lg, $grid-lg-columns, $lg-gutter);
//    }
//    @media screen and (max-width: $grid-md-breakpoint) {
//        @include columns-loop-reserve(xl, $grid-xl-columns, $md-gutter);
//        @include columns-loop-reserve(lg, $grid-lg-columns, $md-gutter);
//        @include columns-loop(md, $grid-md-columns, $md-gutter);
//    }
//    @media screen and (max-width: $grid-sm-breakpoint) {
//        @include columns-loop-reserve(xl, $grid-xl-columns, $sm-gutter);
//        @include columns-loop-reserve(lg, $grid-lg-columns, $sm-gutter);
//        @include columns-loop-reserve(md, $grid-md-columns, $sm-gutter);
//        @include columns-loop(sm, $grid-sm-columns, $sm-gutter);
//    }
//}

//.col {
//    @include columns-loop(xl, $grid-xl-columns, $grid-xl-gutter);
//    @media screen and (max-width: $grid-xl-breakpoint) {
//        @include columns-loop(xl, $grid-xl-columns, $grid-xl-gutter);
//    }
//
//    @media screen and (max-width: $grid-ls-breakpoint) {
//        @include columns-loop-reserve(xl, $grid-xl-columns, $grid-lg-gutter);
//        @include columns-loop(ls, $grid-ls-columns, $grid-ls-gutter);
//    }
//    @media screen and (max-width: $grid-lg-breakpoint) {
//        @include columns-loop-reserve(xl, $grid-xl-columns, $grid-lg-gutter);
//        @include columns-loop-reserve(ls, $grid-ls-columns, $grid-ls-gutter);
//        @include columns-loop(lg, $grid-lg-columns, $grid-lg-gutter);
//    }
//    @media screen and (max-width: $grid-md-breakpoint) {
//        @include columns-loop-reserve(xl, $grid-xl-columns, $grid-md-gutter);
//        @include columns-loop-reserve(ls, $grid-ls-columns, $grid-ls-gutter);
//        @include columns-loop-reserve(lg, $grid-lg-columns, $grid-md-gutter);
//        @include columns-loop(md, $grid-md-columns, $grid-md-gutter);
//    }
//    @media screen and (max-width: $grid-sm-breakpoint) {
//        @include columns-loop-reserve(xl, $grid-xl-columns, $grid-sm-gutter);
//        @include columns-loop-reserve(ls, $grid-ls-columns, $grid-ls-gutter);
//        @include columns-loop-reserve(lg, $grid-lg-columns, $grid-sm-gutter);
//        @include columns-loop-reserve(md, $grid-md-columns, $grid-sm-gutter);
//        @include columns-loop(sm, $grid-sm-columns, $grid-sm-gutter);
//    }
//}
