$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1400px;

$grid-xl-columns: 12;
$grid-xl-gutter: 40px;
$grid-xl-breakpoint: $xl;

$grid-lg-columns: 12;
$grid-lg-gutter: 40px;
$grid-lg-breakpoint: $lg;

$grid-md-columns: 12;
$grid-md-gutter: 40px;
$grid-md-breakpoint: $md;

$grid-sm-columns: 12;
$grid-sm-gutter: 40px;
$grid-sm-breakpoint: $sm;

$base-font-size: 16px;

$small-border-radius: 8px;
$big-border-radius: 32px;

$base-box-shadow: 0 6px 16px 0 rgba(0,0,0,.08), 0 3px 6px -4px rgba(0,0,0,.12), 0 9px 28px 8px rgba(0,0,0,.05);
