$sl: 374px;
$xs: 420px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$ml: 1200px;
$xl: 1400px;

$grid-xl-columns: 12;
$grid-xl-gutter: 32px;
$grid-xl-breakpoint: $xl;

$grid-ls-columns: 12;
$grid-ls-gutter: 30px;
$grid-ls-breakpoint: $xl;

$grid-ml-columns: 12;
$grid-ml-gutter: 28px;
$grid-ml-breakpoint: $ml;

$grid-lg-columns: 12;
$grid-lg-gutter: 28px;
$grid-lg-breakpoint: $lg;

$grid-md-columns: 12;
$grid-md-gutter: 24px;
$grid-md-breakpoint: $md;

$grid-sm-columns: 12;
$grid-sm-gutter: 16px;
$grid-sm-breakpoint: $sm;

$base-font-size: 16px;

$extra-small-border-radius: 4px;
$small-border-radius: 8px;
$big-border-radius: 32px;
$border-radius: 12px;

$base-box-shadow: 0 6px 16px 0 rgba(0,0,0,.08), 0 3px 6px -4px rgba(0,0,0,.12), 0 9px 28px 8px rgba(0,0,0,.05);

$base-transition: .3s;
