.radio-button {
    display: inline-block;
}

.radio-button_indent_right {
    margin-right: 8px;
    margin-bottom: 8px;
}

.radio-button__input {
    display: none;

    &:checked + .radio-button__label {
        background: $additional-main;
    }
}


