.search-card {

    &__main {
        display: flex;
        margin-bottom: 12px;
    }

    &__title {
        margin-bottom: 8px;
        font-size: rem(18);
        font-weight: 700;
    }

    &__details {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-size: rem(14);
    }

    &__detail {
        margin-bottom: 4px;
        margin-right: 4px;
        padding: 4px 8px;
        border-radius: $small-border-radius;
        background: $base-dark-like-transparent;
    }

    &__thumbnail {
        flex-shrink: 0;
        width: 70px;
        margin-right: 12px;
    }

    &__img {
        width: 100%;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        position: relative;

        & svg {
            fill: $opposite-main;
        }
    }
}
