.search {
    &__title {
        margin-bottom: 24px;
    }

    &__result {
        margin-bottom: 32px;
    }

    &__result_medias {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 24px;
    }

    &__result_variations {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr auto;
        gap: 16px;
    }

    &__filter-badges {
        margin-top: 8px;
    }

    @include breakpoint-max($xl) {
        &__result_variations {
            grid-template-columns: repeat(4, 1fr);
            gap: 24px;
        }
    }

    @include breakpoint-max($ml) {
        &__result_variations {
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
        }
    }

    @include breakpoint-max($md) {
        &__result_variations {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }

    @include breakpoint-max($sm) {
        &__result_variations {
            grid-template-columns:1fr;
        }
    }
}
