.main-filters {
    position: relative;

    &__inner {
        margin-bottom: 32px;
        padding: 24px;
        border: 2px solid $base-main;
        background-color: $base-dark;
        border-radius: $medium-border-radius;
    }

    &__footer {
        display: flex;
        justify-content: center;
        gap: 16px;
    }
}
