.sidebar-menu {

    &_collapsed {
        .sidebar-menu__link-icon {
            margin-right: 0;
            display: block;

            &_collapse {
                rotate: (180deg);
            }
        }

        .sidebar-menu__link-label {
            display: none;
        }

        .sidebar-menu__accordion-title:after {
            display: none;
        }
    }

    &__link {
        justify-content: flex-start;
    }

    &__link-icon {
        transition: $base-transition;
        display: none;

        &_collapse {
            display: block;
        }

        svg {
            fill: $opposite-main;
        }
    }


    &__accordion {
        margin-bottom: 8px;
        font-size: rem(16);
    }

    &__accordion-item {
        width: 100%;
        margin-bottom: 8px;
        padding: 12px;
        border-radius: $extra-small-border-radius;

        & & {
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            transition: none;

            &:hover {
                background-color: $base-light-like-transparent;
            }

            &[open] {
                padding-bottom: 0;
            }
        }

        &:hover {
            background-color: $additional-main;
        }

        &[open]:hover {
            background-color: $base-light-like-transparent;
        }
    }

    &__accordion-title {
        font-size: rem(16);
    }
}


