.feed-item {
    display: flex;
    gap: 24px;

    &__photos {
        width: 40%;
    }

    &__main-photo {
        line-height: 0;
        margin-bottom: 12px;
    }

    &__info {
        width: 60%;
    }

    &__img {
        max-width: 100%
    }

    &__additional-photos {
        display: flex;
        gap: 12px;
        line-height: 0;
    }

    &__additional-photos {
        margin-bottom: 12px;
    }

    @include breakpoint-max($lg) {

        flex-wrap: wrap;

        &__photos {
            width: 100%;
        }

        &__info {
            width: 100%;
        }
    }
}
