.logo {
    display: flex;
    padding: 15px 0;
}

.logo__link {
    display: flex;
}

.logo__site-icon {
    display: block;
    height: 50px;
    margin-right: 12px;
}

.logo__site-name {
    display: block;
    height: 50px;
}
