.selectable-order {
    display: flex;
    gap: 12px;

    &_mobile {
        display: none;
    }

    .choices-block {
        max-width: 100%;
        min-width: 160px;
    }

    &__arrow {
        border-top: none;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $opposite-main-50;

        &.selectable-order__arrow_active {
            border-top: none;
            border-bottom: 6px solid $additional-main;
        }

        &.selectable-order__arrow_desc {
            border-top: 6px solid $opposite-main-50;
            border-bottom: none
        }

        &.selectable-order__arrow_desc.selectable-order__arrow_active {
            border-top: 6px solid $additional-main;
            border-bottom: none
        }
    }

    &__button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 14px 18px;

        &:hover,
        &:active,
        &:focus
        {
            background: $base-dark-transparent;
        }
    }

    @include breakpoint-max($md) {
        &_mobile {
            display: flex;
        }
    }
}
