.chat-icon-notification {
    position: relative;

    &__badge {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 30px;
        padding: 1px 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        animation: bounce 3s infinite;
        animation-delay: 1s;
    }

    &__icon {
        line-height: 0;
    }

    &__svg {
        fill: $opposite-main;
        width: 30px;
        height: 30px;
    }

    @include breakpoint-max($sm) {
        &__svg {
            width: 28px;
            height: 28px;
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    5% {
        transform: translateY(-5px);
    }

    10% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-3px);
    }

    20% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}
