.collector-search {
    position: relative;

    &__form {
        margin-bottom: 32px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        margin-top: 32px;
    }

    &__preview {
        min-width: 0;
    }

    &__missing {
        flex-basis: 100%;
        font-size: rem(24);
    }

    &__pagination {
        padding: 24px 0;
    }

    @include breakpoint-max($xl) {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }

        &__preview-buttons {
            justify-content: flex-end;
        }
    }

    @include breakpoint-max($ml) {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @include breakpoint-max($lg) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include breakpoint-max($md) {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @include breakpoint-max($xs) {
        &__preview-buttons {
            justify-content: space-between;
        }
    }
}
