.responsive-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: $base-dark;
    color: $font-main-50;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    line-height: 0;

    &_full-width {
        width: 100%;
    }

    &_placeholder {
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}
