.profile-menu {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
    }

    &__avatar {
        width: 44px;
        height: 44px;
        margin-right: 12px;
    }

    &__auth {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__username {
        display: block;
        max-width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }

    &__logout {
        margin-top: 2px;
        text-align: right;

        & a:hover {
            color: $danger-main;
        }
    }

    @include breakpoint-max($ml) {
        order: 1;

        &__avatar {
            width: 36px;
            height: 36px;
        }
    }

    @include breakpoint-max($sm) {
        &__username {
            max-width: 100px;
            font-size: rem(12);
        }

        &__logout-link {
            font-size: rem(12);
        }
    }
}

