.content {
    padding-top: 24px;

    &_sidebar {
        display: flex;
    }

    &__sidebar {
        width: 300px;
        padding: 24px 16px;
        background: $base-dark-like-transparent;
        border-radius: $big-border-radius 0 0 $big-border-radius;
        transition: $base-transition;

        &_collapsed {
            width: 76px;
        }
    }

    &__wrapper {
        width: 100%;
        padding: 24px;
        background: $base-light-like-transparent;
        border-radius: 0 $big-border-radius $big-border-radius 0;
    }

    &__main_article {
        p {
            margin-bottom: 16px;
            font-size: rem(18);
            line-height: 1.6;
        }
    }

    &__title {
        margin-bottom: 32px;
    }

    &__title-tags {
        margin-top: 4px;
    }

    @include breakpoint-max($lg) {
        &__sidebar {
            display: none;
        }

        &__wrapper {
            border-radius: $big-border-radius;
        }
    }

}
