.main-search {

    &_no-filters {
        .main-search__input-search {
            margin-right: 0;
        }
    }

    &__header {
        display: flex;
    }

    &__input-search {
        width: 100%;
        margin-right: 16px;
    }

    &__filter-button {
        padding: 13px;
    }

    &__filter-icon {
        width: 22px;
        height: 22px;
    }

    .choices__inner {
        padding: 0 28px 0 0 !important;
        border: 0;
        height: auto;
        min-height: auto;
        line-height: 1;
    }

    @include breakpoint-max($md) {
        &_no-filters {
            .main-search__input {
                padding: 10px 12px 10px 12px;
                border-radius: $small-border-radius;
            }

            .main-search__type {
                right: -10px;
            }
        }

        &__input-search {
            margin-right: 0;
        }

        &__input {
            padding: 10px 4px 10px 12px;
            border-radius: $small-border-radius 0 0 $small-border-radius;
        }

        &__filter-button {
            padding: 10px;
            border-radius: 0 $small-border-radius $small-border-radius 0;
        }

        &__filter-icon {
            width: 20px;
            height: 20px;
        }

        &__type {
            position: absolute;
            bottom: -22px;
            right: -50px;
        }

        .choices__inner {
            min-width: 130px;
            font-size: rem(12);
            text-align: right;
            background: none;
            opacity: .5;
        }

        .choices[data-type*=select-one]::after {
            top: 40%;
            opacity: .5;
        }
    }
}
