.button {
    display: inline-block;
    padding: 14px 32px;
    border: 0;
    font-size: rem(16);
    line-height: 1;
    color: $font-main;
    text-decoration: none;
    text-align: center;
    background-color: $base-light-like-transparent;
    transition: $base-transition;
    cursor: pointer;
    box-shadow: none;
    border-radius: $extra-small-border-radius;
    appearance: none;
    outline: none;

    &:hover,
    &:focus {
        background-color: $additional-main;
    }

    &:hover.button_not_clickable,
    &:focus.button_not_clickable {
        background-color: $base-light-like-transparent;
    }

}

.button_full_width {
    width: 100%;
}

.button_not_clickable {
    cursor: default;

    &:hover {

    }
}

.button_size_small {
    font-size: rem(14);
    padding: 10px 26px;
}

.button_size_big {
    font-size: rem(22);
}

.button_size_large {
    font-size: rem(32);
}

.button_icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
}

.button_icon_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__icon-wrapper {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.button__icon-mobile-wrapper {
    display: none;
}


.button_big_icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 13px 32px;
}

.button_large_icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 14px 40px;
}

.button_not_clickable {
    pointer-events: none;
}

.button_dark {
    background-color: $base-dark-like-transparent;
}

.button_submit {
    background-color: $additional-main;

    &:hover,
    &:focus {
        background-color: $additional-light;
    }
}

.button__submit-icon {
    width: 24px;
    height: 24px;
    fill: $opposite-main;
}

.button_cancel {
    background-color: $danger-main;

    &:hover,
    &:focus  {
        background-color: $danger-dark;
    }
}

.button_warning {
    background-color: $warning-main;

    &:hover,
    &:focus {
        background-color: $warning-dark;
    }

}

.button_info {
    background-color: $info-main;

    &:hover,
    &:focus  {
        background-color: $info-dark;
    }

}

.button__cancel-icon {
    width: 28px;
    height: 28px;
    fill: $opposite-main;
}


.button_only_icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    .button__icon-wrapper {
        margin-right: 0;
    }
}

.button_only_icon_extra-small {
    padding: 4px;
}

.button_only_icon_small {
    padding: 6px;
}

.button_only_icon_big {
    padding: 12px;
}

.button_only_icon_large {
    padding: 10px;
}

.button_icon_mobile_small {
    font-size: rem(14);
    padding: 10px 26px;
}

.button_icon_mobile_big {
    font-size: rem(22);
}

.button_icon_mobile_large {
    font-size: rem(32);
}

.button__icon {
    width: 27px;
    height: 27px;
    fill: $font-main;
}

.button__icon_extra-small {
    width: 14px;
    height: 14px;
}

.button__icon_small {
    width: 20px;
    height: 20px;
}

.button__icon_big {
    width: 28px;
    height: 28px;
}

.button__icon_large {
    width: 40px;
    height: 40px;
}

.button__dollar-icon {
    padding: 5px;
}

.button__star-icon {
    padding: 5px;
}

.button__wishlist-icon {
    padding: 3px;
}

.button__edit-icon {
    padding: 1px;
}

.button_disabled {
    background-color: $disabled-main;
    color: $font-main-60;
    cursor: not-allowed;

    &:hover,
    &:focus  {
        background-color: $disabled-main;
    }
}

.button_indent_right {
    margin-right: 8px;
}

.button_indent_left {
    margin-left: 8px;
}

.button_tooltip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    font-size: 1.4rem;
    font-weight: 700;
}

.button_tooltip_extra_small {
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
}

.button_tooltip_big {
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
}

@include breakpoint-max($md) {
    .button_icon_mobile {
        padding: 4px;
    }

    .button__icon-mobile-wrapper {
        display: block;
        margin-right: 0;
        line-height: 0;
    }

    .button__icon-mobile-text-wrapper {
        display: none;
    }
}
