.button {
    display: block;
    padding: 14px 32px;
    border: 0;
    font-size: rem(16);
    line-height: 1;
    color: $font-color;
    text-decoration: none;
    background-color: $base-light-transparent;
    transition: $base-transition;
    cursor: pointer;
    box-shadow: none;
    border-radius: $extra-small-border-radius;

    &:hover {
        background-color: $base-success;
    }
}

.button_submit {
    background-color: $base-success;

    &:hover {
        background-color: $base-success-light;
    }
}

.button_full_width {
    width: 100%;
}
