.sale-item {

    &__main {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__price {
        display: flex;
        align-items: flex-end;
        gap: 8px;
        padding-top: 10px;
        margin-bottom: 24px;
        font-size: rem(24);
    }

    &__price-title {
        padding-bottom: 4px;
        border-bottom: 1px dashed hsla(0, 0%, 100%, 0.2);
    }

    &__price-data {
        position: relative;
        margin: 0;
        font-size: rem(24);
    }

    &__price-oldvalue {
        text-decoration: line-through;
    }

    &__currency {
        font-size: rem(16);
    }

    &__price-discount {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 2px 10px;
        font-size: rem(12);
        background-color: $danger-main;
        border-radius: $small-border-radius;
    }

    &__main-specifications {
        width: 50%;
    }

    &__star-ratings {
        width: 50%;
    }

    &__specifications {
        margin-bottom: 20px;
    }

    &__specifications-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 20px;
    }

    &__star-rating {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

    }

    &__author {
        min-width: 300px;
        max-width: 50%;
    }




    &__description {
        margin-bottom: 20px;

        p:last-child {
            margin-bottom: 0;
        };
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }

}

@include breakpoint-max($ml) {
    .sale-item__main {
        flex-wrap: wrap;
    }

    .sale-item__price {
        width: 100%;
    }

    .sale-item__author {
        width: 100%;
        max-width: 100%;
    }

    .sale-item__price {
        margin-bottom: 12px;
    }

    .sale-item__main-specifications {
        width: 45%;
    }

    .sale-item__star-ratings {
        width: 55%;
    }

    .sale-item__button {
      padding: 8px 12px;
    }
}

@include breakpoint-max($lg) {
    .sale-item__buttons {
        flex-wrap: wrap;
    }

    .sale-item__star-rating {
        width: 50%;
    }

    .sale-item__main-specifications {
        width: 100%;
    }

    .sale-item__star-ratings {
        width: 100%;
    }
}
