.sale-item {

    &__price {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 8px;
        padding-top: 10px;
        margin-bottom: 24px;
        font-size: rem(24);
    }

    &__price-title {
        padding-bottom: 4px;
        border-bottom: 1px dashed hsla(0, 0%, 100%, 0.2);
    }

    &__author {
        min-width: 300px;
        max-width: 50%;
    }

    @include breakpoint-max($ml) {
        &__main {
            flex-wrap: wrap;
        }

        &__price {
            width: 100%;
            margin-bottom: 12px;
        }

        &__author {
            width: 100%;
            max-width: 100%;
        }
    }

    @include breakpoint-max($sm) {
        &__author {
            min-width: auto;
        }
    }

    @include breakpoint-max($xs) {
        &__price {
            font-size: rem(20);
        }

        &__price-title {
            width: 100%;
            border-bottom: 0;
        }
    }
}
