.auth {
    &__content {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }

    &__card {
        width: 400px;
    }

    &__card_admin {
        background-color: $base-dark;
        border: 2px solid $opposite-main;
    }

    &__forgot-link {
        display: block;
        margin-top: 12px;
        color: $font-main-50;
        transition: $base-transition;

        &:hover {
            color: $font-main;
        }
    }

    &__message {
        margin-bottom: 16px;
    }

    .input-checkbox__field + &__remember_admin.input-checkbox__label:before {
        background-color: $base-dark-like-transparent;
    }
}
