.accordion {

    &__item {
        margin: 0 0 16px 0;
        padding: 20px;
        background-color: $base-dark;
        border-radius: $small-border-radius;

        &:last-child {
            margin-bottom: 0;
        }

        &_color_light {
            background-color: $base-light-like-transparent;
        }

        &_padding_normal {
            padding: 16px;
        }

        &_padding_none {
            padding: 0;
        }

        &_padding_lr-none {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__title {
        position: relative;
        display: block;
        padding-right: 24px;
        font-size: 1.4rem;
        text-align: left;
        list-style: none;
        cursor: pointer;
        transition: margin 150ms ease-out;

        &::-webkit-details-marker {
            display: none;
        }

        &::-moz-list-bullet {
            list-style-type: none;
        }

        &:after {
            content: "â¯";
            position: absolute;
            top: 50%;
            right: 0;
            display: inline-block;
            text-align: right;
            background-repeat: no-repeat;
            background-position: right center;
            transform: translate(-50%, -50%) rotate(90deg);
            transition: $base-transition;
        }

        .accordion__item[open]>&:after {
            transform: translate(-50%, -70%) rotate(270deg);
        }

        &:focus {
            //outline: none;
        }

        .accordion__item[open] > & {
            margin-bottom: 12px;
        }
    }

    &__content {
        margin-bottom: 0;

        p {
            margin-top: 0;
            margin-bottom: 12px;
            font-size: 1rem;
            line-height: 1.6;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include breakpoint-max($sm) {
        .accordion__title {
            font-size: rem(20);
        }
    }

}

