.price {
    padding: 5px 15px;
    font-size: rem(24);
    text-decoration: none;
    background-color: $base-light-like-transparent;
    border-radius: 8px;
    line-height: 1;

    &_standard {
        position: relative;
        display: inline-flex;
        align-items: flex-end;
        gap: 2px;
    }

    &_color_success {
        background-color: $additional-main;
    }

    &_color_dark {
        background-color: $base-dark-like-transparent;
    }

    &_color_danger {
        background-color: $danger-main;
    }

    &__currency {
        margin-bottom: 2px;
        font-size: rem(16);
    }

    &__value_old {
        text-decoration: line-through;
    }

    &__discount {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 2px 10px;
        font-size: rem(12);
        background-color: $danger-main;
        border-radius: $small-border-radius;
    }

    @include breakpoint-max($sm) {
        padding-left: 10px;
        padding-right: 10px;

        &__currency {
            font-size: rem(12);
        }
    }
}
