.main-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        margin: 0 8px;
    }

    @media (max-width: $xl) {
        &__link {
            padding: 14px 20px;
        }
    }
}
