.main-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        margin: 0 8px;
    }

    @include breakpoint-max($xl) {
        &__link {
            padding: 14px 20px;
        }
    }

    @include breakpoint-max($ml) {
        &__link {
            padding: 10px 16px;
        }
    }
}
