.crud-filters {
    margin-bottom: 24px;

    &__header {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
        margin-bottom: 12px;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    &__trigger {
        padding: 10px 15px;
    }

    @include breakpoint-max($md) {
        margin-bottom: 28px;

        &__buttons {
            flex-wrap: wrap;
        }
    }

    @include breakpoint-max($sm) {
        &__buttons {
            .button {
                width: 100%;
            }
        }
    }
}
