.user-search {
    position: relative;

    &__main {
        display: flex;

        a {
            text-decoration: none;
        }
    }

    &__thumbnail {
        margin-right: 12px;
        line-height: 0;
    }

    &__img {
        width: 100px;
        height: 100px;
        border-radius: $small-border-radius;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__name {
        width: 100%;
        padding-top: 4px;
        font-size: rem(18);
        font-weight: 700;
    }

    &__nickname {
        width: 100%;
        margin-top: 8px;
        font-size: rem(18);
    }

    &__main-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 8px;
    }

    &__subscribe {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 8px;
    }

    &__message-icon {
        fill: $opposite-main;
        width: 18px;
        height: 18px;
    }

    &__button-message {
        padding: 6px 12px;
    }

    &__buttons {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 16px;
    }

    &__rating {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        padding: 5px 8px;
        font-size: rem(12);
        text-decoration: none;
        background-color: $additional-main;
        border-radius: 0 8px 0 8px;
    }

    &__rating_danger {
        background-color: $danger-main;
    }

    &__rating_warning {
        background-color: $warning-main;
    }
}
