.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    //padding: 12px;
    //border-radius: $small-border-radius;
    //background-color: $base-dark-like-transparent;

    svg {
        width: 40%;
        height: auto;
        stroke: $opposite-main;
    }
}
