.crud-search {
    width: 300px;

    //&__form {
    //    padding: 8px 10px;
    //}

    &__form_only {
        margin-bottom: 18px;
    }

    @include breakpoint-max($md) {
        width: 100%;
    }
}
