.comment {
    display: flex;
    margin-bottom: 16px;
    padding: 16px;
    background-color: $base-dark-like-transparent;
    border-radius: $border-radius;

    &_answer {
        margin-left: 100px;
    }

    &_color_light {
        background-color: $base-light-like-transparent;
    }

    &_color_author {
        background-color: $additional-main-50;
    }

    &_color_success {
        background-color: $success-main;
    }

    &_color_info {
        background-color: $info-main;
    }

    &_color_danger {
        background-color: $danger-main;
    }

    &__avatar {
        flex-shrink: 0;
        width: 70px;
        height: 70px;
        margin-right: 16px;
    }

    &__content {
        width: 100%;
    }

    &__header {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid $opposite-main-20;
    }

    &__username {
        margin-right: 16px;
    }

    &__user-button {
        padding: 4px 16px;
    }

    &__date {
        font-size: rem(12);
        padding-top: 8px;
    }

    &__text {
        margin-bottom: 12px;
        border-bottom: 1px solid $opposite-main-20;
    }

    &__footer {
        display: flex;
    }

    &__like {
        margin-right: 12px;
    }

    &__reply {
        transition: $base-transition;

        &:hover {
            color: $additional-main;
            text-decoration: none;
        }
    }

    @include breakpoint-max($ml) {
        &__avatar {
            width: 50px;
            height: 50px;
            margin-right: 12px;
        }
    }

    @include breakpoint-max($sm) {
        &__avatar {
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }

        &_answer {
            margin-left: 30px;
        }
    }
}





