.site-settings {
    display: flex;
    align-items: center;

    &__inner {
        position: relative;
    }

    &__button {
        line-height: 1;
        cursor: pointer;
    }

    &__icon {
        display: block;
        width: 30px;
        height: 30px;
        transition: $base-transition;
        fill: $opposite-main;

        &:hover {
            rotate: 90deg;
            fill: $additional-main;
        }
    }

    &__popover {
        position: absolute;
        z-index: 2000;
        transition: $base-transition;
        right: 0;
        top: 150%;
        min-width: 220px;
        visibility: hidden;
        opacity: 0;
    }

    &__popover_visible {
        visibility: visible;
        opacity: 1;
    }

    &__flags {
        display: flex;
        margin-bottom: 16px;

    }

    &__flag {
        display: block;
        margin-right: 8px;
        border: 2px solid $base-main;
        line-height: 0;
    }

    &__flag_active {
        border: 2px solid $additional-main;
    }

    &__flag-icon {
        display: block;
        width: 30px;
    }
}
